body {
   	background-image: url("asrama.png");
   	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;  
   	
 	background-size: 100% 175%;
}

.btn{
   
    background-color: #C0C0C0;
    text-align: right;
}

.form-actions{
	  margin-right: 85px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: transparent;
    text-align: right;

}

.btn btn-lg btn-primary btn-block{
  
    background-color: #C0C0C0;
    text-align: right;
  
}
